/* universal */
html {
    font-family: "league spartan", "courier new";
}

h1, h2 {
    text-align: center;
    font-family: "Space grotesk", "courier new";
}

li {
    display: block;
    display: flex;
    justify-content: center;
}

button {
    margin: 5px;
    min-width: 80px;
    background-color: white;
    border: solid black 2px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

.flex-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

/* home page */
#heading-container {
    margin: 20px auto 0 auto;
    width: 50vw;
    border: dotted black 2px;
    border-radius: 5px;
    background-color:khaki;
}

#leaderboard-list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#leaderboard-container {
    margin-top: 20px;
}

#leaderboard-container h2 {
    margin: 0;
}

.leaderboard-container-item {
    margin: auto 10px;
    padding: 0;
    width: fit-content;
}

.leaderboard-container-item p {
    margin-bottom: 0;
    text-align: center;
}

.leaderboard-container-item h3 {
    margin-top: 0;
}

#start-game-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#start-game {
    background-color: khaki;
}

/* quiz page */
#question-h2 {
    margin: 20px auto;
    padding: 10px;
    width: fit-content;
    background-color:khaki;
    border: dotted black 2px;
    border-radius: 5px;
}

#choices-list {
    margin: auto;
    padding: 0;
    width: fit-content;
}

#save-score-card {
    margin: auto;
    padding: 5px;
    width: fit-content;
    display: none;
    background-color:khaki;
    border: solid black 2px;
    border-radius: 5px;
}

#save-score-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#save-score-header h3, p {
    margin: 10px;
}

/* footer */
#footer-container {
    display: flex;
    justify-content:space-evenly;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 10px;
}